/* Estilo do Menu de Navegação */
.menu {
    display: flex; /* Organiza o menu e a logo lado a lado */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-between; /* Espaço entre o menu e a logo */
    background-color: #333; /* Fundo cinza escuro */
    padding: 15px;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.menu a:hover {
    opacity: 0.7;
}

/* Corpo para centralizar estilo */
main {
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f4f4f4;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}
/* Estilo da Logo */
.logo-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.logo {
    height: 50px; /* Define a altura da logo */
    width: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Ajusta a exibição dentro da área */
}
